* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}
header {
    background: rgba(22, 22, 23, .88);
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
}
.header-nav {
    padding: 20px;
}
.header-nav img {
    width: 20px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
section {
    background-color: black;
}
.black-bg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    align-items: center;
}
.above-title {
    font-size: 30px;
    color: white;
}
.middle-title {
    margin-top: 20px;
    font-size: 50px;
    color: white;
}
.middle-below-title {
    margin-top: 20px;
    font-size: 50px;
    color: white;
}
.middle-below-title span {
    color: black;
    padding: 2px;
    background:white;
}
.below-text {
    margin-top: 20px;
    color: white;
    font-size: 30px;
}
.content-link {
    margin-top: 20px;
}
.content-link a {
    font-size: 30px;
    color: blue;
}
.iphone-above-title {
    color: white;
    font-size: 40px;
}
.iphone-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    align-items: center;
}
.iphone-middle-text {
    margin:20px 0;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}
.iphone-content-links a {
    color: blue;
    padding-left: 10px;
    font-size: 20px;
}
.iphone-picture img {
    width:100%
}
.white-section {
    background-color: white;
}
.below-iphone-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    align-items: center;
}
.below-iphone-above-title {
    font-size: 40px;
}
.below-iphone-below-title {
    margin-top: 20px;
    font-size: 20px;
}
.iphone-content-links {
    margin-top: 20px;
}
.second-section {
    margin-top: 10px;
    position: relative;
    height: 500px;
}